*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
 
}

@media (max-width: 992px) {
  html {
    font-size: 50%;
  } 
}

@media (min-width: 1400px) {
  html {
    font-size: 75%;
  } 
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
